@font-face {
    font-family: 'Intro_regular';
    src: url("../fonts/Intro\ Regular\ Alt.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Intro_bold';
    src: url("../fonts/Intro\ Bold\ Alt.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
