@font-face {
    font-family: 'intro_regular';
    src: url("../fonts/intro-regular.ttf") format("truetype"), url("../fonts/intro-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'intro_bold';
    src: url("../fonts/intro-bold.ttf") format("truetype"), url("../fonts/intro-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
