footer{
    background: $block_color;
    color: $lowtext_color;
    margin-top:$vertical_padding;
    }
    .footer-feedback{
        display: flex;
        min-height: 542px;
        justify-content: flex-end;
        background-image: url(../img/footer-banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-items: center;
        
    }
    .footer-feedback-container{
        display: flex;
        justify-content: end;

    }
    .footer-feedback-message{
    color: $font_color;
    max-width: 482px;
    height: 100%;
    background: white;
    top: 0;
    margin-right: -29px;
    border-radius: 48px 48px 4px 48px;
    z-index: 1;
    box-sizing: border-box;
    padding: 30px 16px 30px 48px;
    box-shadow: $shadow_light;
    transition: 0.5s;
    &:hover{
        transform: scale(1.1);
    }
    .footer-feedback-message-h3{
        margin-bottom:14px;
    }
    }
    .footer-feedback-window{
        width:717px;
      //  width:100%;
       // height:412px;
        border-radius: 4px 4px 4px 48px;
        background-color:rgba(242, 242, 242, 0.8);
        padding:60px 90px 60px 70px;
        box-sizing: border-box;
        position: relative;
        
        .footer-feedback-window-button{
            max-width: 300px;
            width: 100%;
    height: 64px;
    margin-top: 32px;
    display: block;
    text-align: center;
    line-height: 260%;
        }
        input{
            padding-left: 24px;
            box-sizing: border-box;
            max-width: 558px;
    width: 100%;
    height: 60px;
   border:none;
   border-radius: 4px;

        }
        .footer-feedback-window-p{
            color:$font_color;
            margin-bottom:10px;
        }
    }
    .footer-info{
    min-height: 254px;
    height:100%;
    }
    .footer-rights{
    display: flex;
    justify-content: space-between;
        min-height: 62px;
        height:100%;
        border-top:2px solid white;
   .footer-rights-p{
    margin-top: auto;
    margin-bottom: auto;
   }
    }
    .footer-info{
        display: flex;
    }
    .footer-info-logo{
        margin: auto;
      //  width: 30%;
        .footer-info-logo-p{
            margin-top:24px;
            color:$lowtext_color
        }
    }
    .footer-info-media{
      //  width:40%;
        padding:1%;
        .footer-info-media-p{
    
        color: $elements_color;
        margin-top:12px;
        }
        text-align: center;
        margin: auto;
        
    }
    .footer-info-media-messangers{
        display: flex;
        justify-content: center;
    list-style: none;
    img{
        transition: 0.5s;
        margin:10px 8px 10px 8px;
        &:hover{
            transform: scale(1.2);
        }
    }

    }
    .footer-info-media-messangers-inn{
        display: flex;
        flex-direction: row;
                justify-content: center;
                &:first-child{
                    margin-right:1%;
                }
                .inn, .ogrn{
                    display: flex;
                    flex-wrap: nowrap;
                }
            }
    .footer-info-contacts{
     //   width:30%;
        margin:auto;
        .footer-info-contacts-p{
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 9px;
            
        }

        address{
            color:$font_color;
            font-size:14px;
        }
    }
.modal-dialog{
    max-width: 898px;
    width: 100%;
    .modal-content{
        padding: 80px 149px;
    max-width: 898px;
    width: 100%;
    .modal-header{
        border-top:none;
        margin-top:0px;
        border-bottom: none;
        .modal-feedback-head{
            text-align: center;
            color:$font_color;
        }
        .btn-close{
            position: absolute;
            top:16px;
            right:16px;
        }
    }
    .modal-body{
        
        .modal-feedback-input{
            max-width:600px;
            width:100%;
            height:60px;
            padding-left:20px;
        }
    }
    .modal-footer{
        border-top:none;
    .modal-feedback-button{
        margin: auto;
        max-width: 300px;
        width: 100%;
        height: 60px;
        display: block;
    text-align: center;
    /* line-height: 60px; */
    line-height: 250%;
    }
    }
}
}
@media (max-width:1320px){
    .footer-info-media-messangers-inn{
        flex-direction: column;
        align-items: center;
            }
}
@media (max-width:1140px){
    
}
@media (max-width:960px){
    
  
.footer-rights{
    flex-direction: column;
    align-items: left;
    padding-bottom:24px;
    padding-top: 24px;
}
.footer-info{
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    padding-bottom:20px;
}
.footer-info-contacts, .footer-info-logo, .footer-info-media{
    width:100%;
    text-align: left;
}
.footer-info-media{
padding:0px;
}
.footer-feedback-container{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.footer-feedback-message {
       max-width: 558px;
    height: 100%;
margin:0px;
    margin-top: 40px;
}
.footer-feedback-window{
    width:100%;
    height:100%;
   
    padding-bottom: 60px;
    text-align: center;
    background-color: transparent;
    padding:0;
    padding-top: 22px;
        padding-bottom: 60px;
    .footer-feedback-window-p{
display: none;
    }
}

.footer-info-media-messangers{
    justify-content: left;
    margin-left:-10px;
}
.footer-info-media-messangers-inn{
justify-content: left;
.inn, .ogrn{
margin-right: auto;
}
        }

}
@media (max-width:720px){
    
}
@media (max-width:540px){


}
