.repair{
    
    padding-top: $vertical_padding;
    padding-bottom: $vertical_padding;
    display: flex;
    .repair-h2{
        margin-right: 120px;
    }
}
.top-margin{
    margin-top:0;
}
@media (max-width:1140px){
    .repair{
        display: flex;
        flex-direction: column;
    }
.repair-h2{
margin-right:$mobile_vertical !important;
}
.repair-text{
    margin-top: 17px;
}

}
@media (max-width:768px){
    .repair{
        padding-top:$mobile_vertical;
        padding-bottom: $mobile_vertical;
    }
}
