$logo:'../images/logo.png';

$background_color:#FAFAFA;
$block_color:#F3F6F5;
$lowtext_color:#B7B7B7;
$font_color: #303432;
$elements_color:#08A652;
$gradient_color: linear-gradient(180deg, #17D771 0%, #079D4D 100%);
$active_gradient_color:linear-gradient(180deg, #23E980 0%, #0EB55C 100%);

$shadow_light: 4px 4px 40px #EBEBEB;
$shadow_dark:0px 8px 48px #D2D2D2;

$padding:135px;

$regular:"Intro_regular";
$bold:"Intro_bold";