.repair-margin-prices{
margin-top:0;
margin-bottom: $vertical_padding;
}
.build-gallery-margin{
    padding-top:0;
    padding-bottom: 0;
    overflow: visible;
}
.repair-hidden{
        display: none;
}
.repair-p-margin{
    margin-top:22px;
}
@media (max-width:1140px){
    .repair-hidden{
        display: block;
} 
}
@media (max-width:768px){
    .repair-margin-prices{
        margin-bottom: 70px;
        }
        .build-projects-margin{
            padding-bottom:$mobile_vertical;
        }
        .repair-margin-prices{
            .index-prices-button{display: none;}
        }
}